
$bgcolor: black;
$bgcolor-aside: #111;
$color-line: #C0F;
$color-circle: #0C9;
$color-point: #FFF;
$color-segment: #C90;
$color-selected: #FCC;

.katex {
  color: white;
  font-size: 1.5em;
}

* {
    // /*stroke-dasharray: 2, 3;*/
    margin: 0;
    padding: 0;
}

body.explorer {
  color: white;
  background-color: $bgcolor;

  display: grid;
  grid-gap: 0px;
  grid-template-columns: 25vw 75vw;
  grid-template-rows: 85vh 15vh;
  grid-template-areas:  "aside main"
                        "aside footer";
  width: 100vw;
  height: 100vh;

  main {
      grid-area: main;
      background-color: $bgcolor;

  }

  aside {
    grid-area: aside;
    font-size: .8em;
    padding: .5em;
    background-color: $bgcolor-aside;

    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr;
    grid-template-rows: 20%;
    grid-template-areas:  "points"
                          "lines"
                          "circles"
                          "segments"
                          "info"
                          ;
    #points {
      color: $color-point;
    }
    #lines {
      color: $color-line;
    }
    #circles {
      color: $color-circle;
    }
    #segments {
      color: $color-segment;
    }
    #info {
      color: #CCC;
    }

  }
  aside pre {
    overflow : auto;
    /* height: 20%; */
    background-color: $bgcolor;
    padding: .5em;

  }

  footer {
    grid-area: footer;
    color: white;
    background-color: $bgcolor;
    padding: .5em;
    font-size: 2em;
  }

  a, a:visited {
    color: white;
  }

  a:hover {
    color: $color-segment;
  }

}

// SVG element
#drawing {
  width: 100%;
  height: 100%;

}


body.static {
  /* color: white; */
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  grid-template-areas:  "main";
  /* background-color: $bgcolor; */
  width: 100vw;
  height: 100vh;

  main img {
    width: 100%;
    height: 100%;
  }

}


.Circle, .Line, .Point {
  fill-opacity: 0;
  stroke-width: .008;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  stroke-dasharray: none;
  pointer-events: auto;
}

.Circle, .Line {
  pointer-events: stroke;
}








/* Points ************************************************/
.Point {
    fill: $color-point;
    fill-opacity: 1;
    stroke: $bgcolor;
    stroke-width: .005;
    stroke-opacity: 1;

    &.hover {
      stroke-width: .06;
      stroke: $color-point;
    }
    &.click {
      stroke-width: .02;
      stroke: $color-selected;
      fill: $color-selected;
      fill-opacity: .1;
    }
}

/* Lines ************************************************/
.Line {
    stroke: $color-line;
    &.hover {
      stroke-width: .02;
    }
    &.click {
      stroke-width: .025;
      stroke: $color-selected;
      fill: $color-selected;
      fill-opacity: .1;
    }
    &.b {
      stroke-dasharray: 6, 4, 2, 4;
    }

}


/* Circles ************************************************/
.Circle {
    stroke: $color-circle;
    fill: $color-circle;
    &.hover {
      stroke-width: .02;
      fill-opacity: .2;
    }
    &.click {
      stroke-width: .025;
      stroke: $color-selected;
      fill: $color-selected;
      fill-opacity: .1;
    }

}

/* Segments ************************************************/
.Segment {
  fill: none;
  stroke: $color-segment;
  stroke-opacity:0.3;

  &.hover {
    stroke-opacity:1;
  }

}

marker {
  fill: none;
  stroke: $color-segment;
  stroke-width: .3;
  stroke-opacity: .3;

  &.hover {
    stroke-opacity:1;
  }

}


/* Shapes ************************************************/


.Quadrilateral, .Triangle {
    fill: #999;
    stroke: #999;
    fill-opacity: 0.2;
    stroke-width: 2px;
}

.Quadrilateral {
  fill: #390;
  stroke: #390;
}

.Quadrilateral.y {
    fill: #390;
}

.Quadrilateral.y.b {
    fill: #039;
}

.Triangle {
  fill: #900;
  stroke: #900;
}




.Sector {
    fill-opacity: 0.6;
    stroke-width: 4;
}

.Sector.s03,
.Sector.s04,
.Sector.s05 {
  fill-opacity: 0.6;
}



.Quadrilateral.y.s05 {
    stroke: #09C;
    fill: #09C;
}
